.column {
    float: left;
    width: 33.33%;
    padding: 2px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .div-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}
img{
    transition: transform .2s;
    width:1500px;
    height:1500px;
    margin:0 auto;
}
img:hover{
    transform:scale(2.5);
}