* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sneakylink{
    color: inherit;
    text-decoration: inherit;
}
.sneakylink2{
    color: inherit;
    text-decoration: inherit;
}
.sneakylink2:hover {
    color:white;
}
body {
    background: lightblue;
    font-family: Verdana, sans-serif;
}
footer {
    background: white;
    width: 100%;
    bottom:0;
    text-align: center;
}
header {
    width: 100%;
}
.hero-home {
    background: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius:50px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
}

button:hover {
    background: #fff;
    color: #000;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2 rem;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}
.button {
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
    color: white;
    background-color: black;
}
.button:hover {
    background: #fff;
    color: #000;
}

.buttonChest {
    background-color: rgb(58, 140, 58);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    padding-left:50px;
    padding-right:50px;
}
.buttonChest:hover {
    background: white;
    color:rgb(58, 140, 58);
    border: 2px solid rgb(58, 140, 58);
}
.buttonArms {
    background-color: rgb(163,32,5);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    padding-left:50px;
    padding-right:50px;
}
.buttonArms:hover {
    background: white;
    color:rgb(163,32,5);
    border: 2px solid rgb(163,32,5);
}
.buttonBack {
    background-color: rgb(177,83,190);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    padding-left:50px;
    padding-right:50px;
}
.buttonBack:hover {
    background: white;
    color:rgb(177,83,190);
    border: 2px solid rgb(177,83,190);
}
.buttonLegs {
    background-color: rgb(73 156 223);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    padding-left:50px;
    padding-right:50px;
}
.buttonLegs:hover {
    background: white;
    color:rgb(73 156 223);
    border: 2px solid rgb(73 156 223);
}
.buttonCore {
    background-color: rgb(234 59 171);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    padding-left:50px;
    padding-right:50px;
}
.buttonCore:hover {
    background: white;
    color:rgb(234 59 171);
    border: 2px solid rgb(234 59 171);
}
.textChest {
    color: rgb(58, 140, 58);
}
.textArms {
    color: rgb(163,32,5);
}
.textBack {
    color: rgb(177,83,190);
}
.textLegs {
    color: rgb(73 156 223);
}
.textCore {
    color: rgb(234 59 171);
}
.thumbnailChest {
    border:2px solid rgb(58, 140, 58);
    border-radius:10px;
}
.thumbnailChest:hover {
    border:2px solid white;
}
.thumbnailArms {
    border:2px solid rgb(163,32,5);
    border-radius:10px;
}
.thumbnailArms:hover {
    border:2px solid white;
}
.thumbnailBack {
    border:2px solid rgb(177,83,190);
    border-radius:10px;
}
.thumbnailBack:hover {
    border:2px solid white;
}
.thumbnailLegs {
    border:2px solid rgb(73 156 223);
    border-radius:10px;
}
.thumbnailLegs:hover {
    border:2px solid white;
}
.thumbnailCore {
    border:2px solid rgb(234 59 171);
    border-radius:10px;
}
.thumbnailCore:hover {
    border:2px solid white;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

.space{
    padding-left: 10%;
    padding-right: 10%;
}
.littlespace{
    padding-left: 5%;
    padding-right: 5%;
}
.absolute {
    position:absolute;
}
.inline {
    display:inline-block;
}
.container2 {
    padding-left: 16%;
    padding-right: 16%;
    padding-bottom: 2px;
    display: flex;
}
.transparent {
    color:transparent;
}
.landingcard {
    background-color: rgb(173, 216, 230, 0.8);
    display: flex;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
    height: 400px;
    margin-top:auto;
    margin-bottom:auto;
}
.quiettext {
    color: gray;
    font-size: 10pt;
}
.backgroundshadow {
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
}
.profilepic {
    border: 4px solid rgb(158, 242, 158);
    border-radius: 100px;
    box-shadow: black 0 10px 20px -10px;
    box-sizing: border-box;
}