.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .img {
    position: absolute;
    }
    .new-img{
      width: 100%;
      height: 120px;
      background-image: url('../assets/facebook.jpg');
      transition: all 1s ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
    }
    .index-new article:hover .index-new{
      background-image: url('../assets/colorFB.jpg');
    }